<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<link rel="stylesheet" href="../../static/plugin/layui/css/layui.css" th:href="@{/plugin/layui/css/layui.css}">
		<link rel="stylesheet" href="../../static/css/approval/viewsubmit.css" th:href="@{/css/approval/viewsubmit.css}">
	</head>
	<body>

		<table class="layui-hide" id="test" lay-filter="test"></table>

		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<script src="../../static/plugin/layui/layui.js" th:src="@{/plugin/layui/layui.js}"></script>
		<script src="../../static/js/approval/viewsubmit.js" th:src="@{/js/approval/viewsubmit.js}"></script>
	</body>
</html>
