<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>项目管理系统-忘记密码</title>
    <link rel="stylesheet" href="../static/plugin/layui/css/layui.css" th:href="@{/plugin/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/css/forgetpassword.css" th:href="@{/css/forgetpassword.css}">
</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">项目管理系统-忘记密码</div>
        <div id="darkbannerwrap"></div>

        <form class="layui-form" action="/submitforgetpassword" method="post">
            <div class="layui-form-item">
                <input id="username" type="text" name="username" required lay-verify="nikename" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input id="yzm-header" class="layui-input" type="text" name="email" required lay-verify="email" placeholder="请输入邮箱" autocomplete="off">
                <button type="button" class="layui-btn layui-btn-warm yzm-sendBtn" onclick="sendNumber()">发送验证码</button>
            </div>
            <div class="layui-form-item">
                <input id="yzm" type="text" name="yzm" required lay-verify="number" placeholder="请输入验证码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input id="L_pass" type="password" name="password" required lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input id="L_repass" type="password" name="repassword" required lay-verify="repass" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div id="slider"></div>
            </div>
            <div class="layui-form-item btn-center">
                <div class="btn-display">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">重置密码</button>
<!--                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </form>
    </div>
    <script src="../static/plugin/layui/layui.js" th:src="@{/plugin/layui/layui.js}"></script>
    <script src="../static/js/sliderVerify.js" th:src="@{/js/sliderVerify.js}"></script>
    <script src="../static/js/forgetpassword.js" th:src="@{/js/forgetpassword.js}"></script>
</body>
</html>