<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>Title</title>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body style="background-color: #d1d1d1;">
		<section style="overflow:hidden;margin:0;">
			<section data-role="outer" label="Powered by 365editor" style="font-family:微软雅黑;font-size:16px;">
				<section class="KolEditor">
					<section style="display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;-webkit-justify-content: center;-moz-justify-content: center;-ms-justify-content: center;-o-justify-content: center;-webkit-align-items: center;-moz-align-items: center;-ms-align-items: center;-o-align-items: center;">
						<section style="display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;-webkit-align-items: center;-moz-align-items: center;-ms-align-items: center;-o-align-items: center;">
							<section style="width:190px;flex-shrink: 0;z-index: 4;align-self: flex-start;" class=""><img src="../static/images/top_0.gif"
								 alt="" style="max-width: 100%; vertical-align: bottom; height: auto;" data-tools-id="75346"></section>
							<section style="padding: 5px 35px; background: linear-gradient(90deg, rgb(170,183,239), rgb(253,194,242)); border-radius: 10px; margin: -40px 10px -50px; box-sizing: border-box;">
								<p style="font-size: 24px;color: #000000;margin:0;text-align: center;">扶贫-农村产品管理</p>
							</section>
							<section style="width:190px;flex-shrink: 0;align-self: flex-end;"><img src="../static/images/top_1.gif"
								 alt="" style="max-width: 100%; vertical-align: top; height: auto;"></section>
						</section>
					</section>
				</section>
			</section>
		</section>
	</body>
</html>
