<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
    <script  src="../static/js/jquery.min.js"   th:src="@{js/jquery.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <script  src="../static/js/bootstrap.min.js"  th:src="@{js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../static/css/fileinput.css" th:href="@{css/fileinput.css}">
    <script  src="../static/js/fileinput.js" th:src="@{js/fileinput.js}"></script>
    <script  src="../static/js/theme.js" th:src="@{js/theme.js}"></script>
    <script  src="../static/js/zh.js" th:src="@{js/zh.js}"></script>


</head>
<body>

<div>


    <form enctype="multipart/form-data">
        <div class="form-group center-block" >
            <input id="test1" name="file" type="file" class="file" data-browse-on-zone-click="true">
        </div>
    </form>

</div>


<script src="../static/js/initFileInput.js"  th:src="@{js/initFileInput.js}"></script>
<script src="../static/js/upload.js"  th:src="@{js/upload.js}"></script>
</body>
</html>