
<!DOCTYPE html>
<html>

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>网络工程系</title>
    <link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/general-situation.css">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">院系信息</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="general-situation.html">本系概况</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">专业设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="major-net.html">网络工程</a></dd>
                    <dd><a href="major-security.html">网络空间安全</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">教学管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="tea-institution.html">管理制度</a></dd>
                    <dd><a href="teacher.html">教师风采</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">人才培养</a>
                <dl class="layui-nav-child">
                    <dd><a href="institution.html" target="_self">管理制度</a></dd>
                    <dd><a href="cultivate.html" target="_self">培养方案</a></dd>
                </dl>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 用户
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javacript:;">基本资料</a></dd>
                    <dd><a href="javacript:;">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javacript:;">退了</a></li>
        </ul>
    </div>
    <div class="contain">
        <img src="../../static/img/picture.png"></img>
        <div class="warp v1">
            <div class="title1">网络工程系</div>
            <div class="title1">
                简介：
                <div class="title2">本系包括两个专业：网络工程专业以及网络空间安全专业。</div>
                <div class="title2">网络工程专业培养的人才具有扎实的自然科学基础、较好的人文社会科学基础和外语综合能力；能系统地掌握计算机网和通信网技术领域的基本理论、基本知识；
                掌握各类网络系统的组网、规划、设计、评价的理论、方法与技术；获得计算机软硬件和网络与通信系统的设计、开发及应用方面良好的工程实践训练，特别是应获得较大型网络工程开发的初步训练；</div>
                <div class="title2">网络空间安全专业是网络空间安全一级学科下的专业，学科代码为"0839"，授予"工学"学位，涉及到以信息构建的各种空间领域，研究网络空间的组成、形态、安全、管理等。</div>
            </div>


                <div class="title2"></div>
            </div>
        </div>
    </div>
</div>

</div>
<script src="../../static/plugin/layui/layui.js "></script>

<script src="../../static/js/general-situation.js"></script>
</body>

</html>