<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>校级信息</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/schoolInfo.css">


</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">校级信息</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="javacript:;">学校概括</a></li>
                <li class="layui-nav-item"><a href="javacript:;">机构设置</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javacript:;">招生就业</a></dd>
                        <dd><a href="javacript:;">人才培养</a></dd>
                        <dd><a href="javacript:;">科学研究</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 用户
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全管理</a></dd>
                        <dd><a href="">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="contain">
            <img src="images/picture.png"></img>
            <div class="warp v1">
                <div class="title1">学校名称:惠州学院(Huizhou University)</div>
                <div class="title1">
                    简介：
                    <div class="title2">惠州学院（Huizhou University）是广东省属全日制公办本科高校、普通本科转型试点高校、省市共建本科高校和省硕士学位授予立项建设单位、第二批省级双创示范基地和省创建国家教师教育创新实验区立项院校 [1] ，位于全国文明城市惠州。 [2] 惠州学院创办于1946年，学校前身粤秀中学迁至惠阳丰湖书院，后改办为“广东省立惠州师范学校”。1978年12月，经国务院批准升格为专科院校，更名为“惠阳师范专科学校”。1993年9月，经广东省人民政府批准，在惠阳师范专科学校、惠州教育学院、西北纺织学院惠州分院联合办学基础上，成立专科层次的“惠州大学”。2000年3月，经教育部批准升格为本科院校，更名为"惠州学院"。
                        [3] 截至2019年7月，学院有全日制在校生16798人；学校有18个二级学院，开设54个本科专业； [4] 有专任教师835名；学校占地总面积2500亩。</div>
                </div>
                <div class="title1">学校标识</div>
                <div class="title1">
                    校训：敦重明辨，求真致知
                    <div class="title2">我校校训体现历史、阐发精神，凝聚共识、面向未来。从我校办学实践来看，衡之古今，校之人我，验之成败。“敦重明辨，求真致用”意在弘扬丰湖书院传统，光大“敦重”之训导，强调为人与为学相统一，人文与科学相融汇，知与行相印证。提倡惠州学院人应该有的精神，即庄重朴实、慎思明辨、求真求是、学以致用的精神。</div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="./layui/layui.all.js "></script>
    <script src="../../static/js/schoolInfo.js"></script>
</body>

</html>