<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>网络工程系</title>
    <link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">网络工程系</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-left">

            <li class="layui-nav-item"><a href="general-situation.html">本系概况</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">专业设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="major-net.html">网络工程</a></dd>
                    <dd><a href="major-security.html">网络空间安全</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">教学管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="tea-institution.html">管理制度</a></dd>
                    <dd><a href="teacher.html">教师风采</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">人才培养</a>
                <dl class="layui-nav-child">
                    <dd><a href="institution.html" target="_self">管理制度</a></dd>
                    <dd><a href="cultivate.html" target="_self">培养方案</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;font-size: larger">
            <legend>管理制度</legend>
        </fieldset>
        <div style="font-size: medium;margin-top: 20px"><a href="">惠州学院班主任工作条例</a> </div>
        <div style="font-size: medium;margin-top: 20px"><a href="">惠州学院课程考核与成绩管理规定</a> </div>
        <div style="font-size: medium;margin-top: 20px"><a href="">惠州学院考试管理规定</a> </div>
        <div style="font-size: medium;margin-top: 20px"><a href="">惠州学院公共体育课程成绩评定办法</a> </div>
        <div style="font-size: medium;margin-top: 20px"><a href="">惠州学院学生选修开放式网络课程和跨校课程管理办法</a> </div>
        <div style="font-size: medium;margin-top: 20px"><a href="">惠州学院博雅课程管理暂行办法</a> </div>

    </div>

</div>
<script src="../../static/plugin/layui/layui.js"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>