<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>维护请求</title>
    <link rel="stylesheet" href="../../static/css/layui.css">
    <link rel="stylesheet" href="../../static/css/teassess.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div style="padding: 15px;">
            <table class="layui-hide" id="test" lay-filter="test">
            </table>
            <form class="layui-form" action="">
                <div class="layui-side layui-side-child">
                    <div class="layui-side-scroll">
                        <!-- 左侧子菜单 -->
                        <ul class="layui-nav layui-nav-tree site-demo-table-nav">
                            <li class="layui-nav-item ">
                                <a href="/demo/table.html">简单数据表格</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/auto.html">列宽自动分配<span class="layui-badge-dot"></span></a>
                            </li>

                            <li class="layui-nav-item ">
                                <a href="/demo/table/data.html">赋值已知数据</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/static.html">转化静态表格</a>
                            </li>

                            <hr>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/page.html">开启分页</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/resetPage.html">自定义分页</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/toolbar.html">开启头部工具栏<span class="layui-badge-dot"></span></a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/totalRow.html">开启合计行<span class="layui-badge-dot"></span></a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/checkbox.html">开启复选框</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/radio.html">开启单选框<span class="layui-badge-dot"></span></a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/cellEdit.html">开启单元格编辑</a>
                            </li>
                            <hr>

                            <li class="layui-nav-item ">
                                <a href="/demo/table/form.html">加入表单元素</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/style.html">设置单元格样式</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/fixed.html">固定列</a>
                            </li>

                            <hr>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/operate.html">数据操作</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/parseData.html">解析任意数据格式<span class="layui-badge-dot"></span></a>
                            </li>
                            <li class="layui-nav-item layui-this">
                                <a href="/demo/table/onrow.html">监听行事件<span class="layui-badge-dot"></span></a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/reload.html">数据表格的重载</a>
                            </li>
                            <hr>

                            <li class="layui-nav-item ">
                                <a href="/demo/table/height.html">高度最大化适应</a>
                            </li>
                            <li class="layui-nav-item ">
                                <a href="/demo/table/initSort.html">设置初始排序</a>
                            </li>


                            <li class="layui-nav-item ">
                                <a href="/demo/table/cellEvent.html">监听单元格事件</a>
                            </li>

                            <li class="layui-nav-item ">
                                <a href="/demo/table/thead.html">复杂表头</a>
                            </li>

                            <hr>
                            <li class="layui-nav-item">
                                <a href="/doc/modules/table.html" target="_blank">更多用法见文档</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">维护ID</label>
                        <div class="layui-input-inline">
                            <input name="id" class="layui-input" type="number" autocomplete="off" lay-verify="required|id">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-inline">
                            <input name="phone" class="layui-input" type="tel" autocomplete="off" lay-verify="required|phone">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">联系邮箱</label>
                        <div class="layui-input-inline">
                            <input name="email" class="layui-input" type="text" autocomplete="off" lay-verify="email">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">维护内容</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" placeholder="请输入内容"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="submit" lay-filter="demo1" lay-submit="">立即提交</button>
                        <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer">
</div>
</div>
<script src="../../static/layui.js"></script>
<script id="toolbarDemo" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script src="../../static/js/teassess.js"></script>

</body>
</html>