<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校级信息管理</title>
    <link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">

</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!--<div class="layui-header">
            <div class="layui-logo">校级信息管理</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> 用户
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javacript:;">基本资料</a></dd>
                        <dd><a href="javacript:;">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javacript:;">退了</a></li>
            </ul>
        </div>-->
    </div>
    <table class="layui-hide" id="demo" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <div class="layui-tab layui-tab-brief" lay-filter="demo">
        <ul class="layui-tab-title">
            <li class="layui-this">演示说明</li>
            <li>日期</li>
            <li>分页</li>
            <li>上传</li>
            <li>滑块</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <p class="layui-bg-green demo-carousel">在这里，你将以最直观的形式体验 layui！</p>
                        </div>
                        <div>
                            <p class="layui-bg-red demo-carousel">在编辑器中可以执行 layui 相关的一切代码</p>
                        </div>
                        <div>
                            <p class="layui-bg-blue demo-carousel">你也可以点击左侧导航针对性地试验我们提供的示例</p>
                        </div>
                        <div>
                            <p class="layui-bg-orange demo-carousel">如果最左侧的导航的高度超出了你的屏幕</p>
                        </div>
                        <div>
                            <p class="layui-bg-cyan demo-carousel">你可以将鼠标移入导航区域，然后滑动鼠标滚轮即可</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div id="laydateDemo"></div>
            </div>
            <div class="layui-tab-item">
                <div id="pageDemo"></div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-upload-drag" id="uploadDemo">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    <div class="layui-hide" id="uploadDemoView">
                        <hr>
                        <img src="" alt="上传成功后渲染" style="max-width: 100%">
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div id="sliderDemo" style="margin: 50px 20px;"></div>
            </div>
        </div>
    </div>

    <blockquote class="layui-elem-quote layui-quote-nm layui-hide" id="footer">layui {{ layui.v }} 提供强力驱动</blockquote>


    <script src="../../static/plugin/layui/layui.js"></script>
    <script src="../../static/js/temagschinfo.js"></script>
</body>

</html>