<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>院处增删改</title>
  <link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">

</head>
   <style>
        body{margin: 10px;}
        .layui-form-text{
            width: 100%;
            height: 50px;
            text-align: center;
            font-size: xx-large;
            color: white;
            background-color: #009688;
        }
    </style>
<body>
 
<table class="layui-hide" id="test" lay-filter="test">
	 <div class="layui-form-text" >院处增删改</div>
</table>
 
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">增加</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">合并</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">拆分</button>
  </div>
</script>
 
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
              
          
<script src="../../static/plugin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script src="../../static/js/Temagcollege.js"></script>

</body>
</html>
