<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>计算机科学与工程学院</title>
    <link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/11.css">
    <link rel="stylesheet" href="../../static/css/temagcolinfo.css">


</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">计算机科学与工程学院</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="">学院概况</a>
                <dl class="layui-nav-child">
                    <dd><a href="">院情简介</a></dd>
                    <dd><a href="">组织架构</a></dd>
                    <dd><a href="">师资队伍</a></dd>
                    <dd><a href="">实验条件</a></dd>
                </dl>

            </li>
            <li class="layui-nav-item">
                <a href="">招生就业</a>
                <dl class="layui-nav-child">
                    <dd><a href="">管理制度</a></dd>
                    <dd><a href="">招生简章</a></dd>
                    <dd><a href="">就业信息</a></dd>
                    <dd><a href="">联系我们</a></dd>
                </dl>

            </li>
            <li class="layui-nav-item">
                <a href="">教学管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">教务信息</a></dd>
                    <dd><a href="">管理制度</a></dd>
                    <dd><a href="">专业设置</a></dd>
                    <dd><a href="">教师风采</a></dd>
                    <dd><a href="">毕业论文</a></dd>
                </dl>

            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">教研科研</a>
                <dl class="layui-nav-child">
                    <dd><a href="">管理制度</a></dd>
                    <dd><a href="">教学研究</a></dd>
                    <dd><a href="">科学研究</a></dd>
                    <dd><a href="">国际合作</a></dd>
                    <dd><a href="">科技下乡</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">学科竞赛</a>
                <dl class="layui-nav-child">
                    <dd><a href="">管理制度</a></dd>
                    <dd><a href="">竞赛信息</a></dd>
                    <dd><a href="">超算菁英</a></dd>
                    <dd><a href="">互联网+</a></dd>
                </dl>

            </li>
            <li class="layui-nav-item">
                <a href="">校友风采</a>
                <dl class="layui-nav-child">
                    <dd><a href="">管理制度</a></dd>
                    <dd><a href="">校友风采</a></dd>
                </dl>

            </li>
            <li class="layui-nav-item">
                <a href="">下载中心</a>
                <dl class="layui-nav-child">
                    <dd><a href="">教师工作</a></dd>
                    <dd><a href="">学生学习</a></dd>
                </dl>

            </li>
        </ul>
       <!-- <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全管理</a></dd>
                    <dd><a href="">退出登录</a></dd>
                </dl>
            </li>
            &lt;!&ndash;<li class="layui-nav-item"><a href="">退出</a></li>&ndash;&gt;
        </ul>-->
    </div>



    <!--    主要内容-->
    <div class="photo1">
        <img src="../../static/img/111.jpg">
    </div>
    <div class="p">
        <h2 style="text-align: center">【学院概况】</h2></br></br>
        <p style="text-align: center">计算机科学与工程学院前身为惠阳师范专科学校电子计算机中心，创办于1986年。</p></br>
        <p style="text-align: center">2000年惠州大学升格为全日制普通本科高校并更名为惠州学院。</p></br>
        <p style="text-align: center">2002年6月，计算机中心与电子工程系合并组建电子信息系。</p></br>
        <p style="text-align: center">2002年6月，计算机中心与电子工程系合并组建电子信息系。</p></br>
        <P style="text-align: center">2004年7月，电子信息系的计算机科学与技术专业与公共计算机教研室合并成立计算机科学系。</P></br>
        <p style="text-align: center">2016年11月，计算机科学系更名为信息科学技术学院，2020年1月更名为计算机科学与工程学院。</p></br>
        <p style="text-align: center">办学30年来，学院秉承“产教融合，国际合作，协同育人，服务地方” 的办学理念，以培养高素质应用型工科人才为办学目标</p></br>
        <p style="text-align: center">，逐步成为国际合作办学、服务地方信息产业的特色学院。</p></br>

    </div>





   <!-- <div class="layui-footer">
        &lt;!&ndash; 底部固定区域 &ndash;&gt;
        @hzu.edu.cn - 惠州学院
    </div>-->
</div>
<script src="../../static/plugin/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<!--图片轮播-->




</body>

</html>