<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../../static/plugin/layui/css/layui.css">
	</head>
	<body>
		<div class="layui-container" style="margin-top: 50px;">
			<h1 style="text-align: center;margin-bottom: 30px;">管理员身份设置</h1>
			<div class="layui-container">
				<div class="layui-row">
					<div class="layui-col-md2 layui-col-md-offset10 layui-col-xs2 layui-col-xs-offset10" >
						<button type="button" class="layui-btn"> 添加管理员 </button>
					</div>
				</div>
			</div>
			<table class="layui-table">
				<colgroup>
					<col width="150">
					<col width="100">
					<col width="100">
					<col width="200">
					<col width="150">
				</colgroup>
				<thead>
					<tr>
						<th>ID</th>
						<th>姓名</th>
						<th>性别</th>
						<th>权限</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1814080902308</td>
						<td>张三</td>
						<td>男</td>
						<td>院处级管理员</td>
						<td style="text-align: center;">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>

								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902333</td>
						<td>李四</td>
						<td>女</td>
						<td>院处级管理员</td>
						<td style="text-align: center;">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>

								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902334</td>
						<td>黄少</td>
						<td>男</td>
						<td>院处级管理员</td>
						<td style="text-align: center;">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>

								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902335</td>
						<td>刘少</td>
						<td>男</td>
						<td>系科部级管理员</td>
						<td style="text-align: center;">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>
					
								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902336</td>
						<td>李少</td>
						<td>男</td>
						<td>系科部级管理员</td>
						<td style="text-align: center;">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>
					
								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>1814080902337</td>
						<td>连少</td>
						<td>男</td>
						<td>系科部级管理员</td>
						<td style="text-align: center;">
							<div class="layui-btn-container">
								<button type="button" class="layui-btn">编辑</button>
					
								<button type="button" class="layui-btn layui-btn-danger">删除</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</body>

</html>
