*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #d1d1d1;
}
#selectParam {
	background-color: #C3C3C3;
	width: 80%;
	margin: 0.5% auto;
	padding: 1%;
}

#selectParam div{
	display: inline-block;
	margin: 5px;
}
#selectParam button{
	padding: 5px 10px;
	font-size: 20px;
	margin-left: 85%;
}
#productShow{
	width: 95%;
	margin: 10px auto;
}
#productShow #windowFrame{
	margin-left: 5px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 1%;
	border: #c3c3c3 solid 1px;
	position: relative;
}
.productWindow div{
	display: inline-block;
}

#pageSelect{
	margin: 15px auto;
	width: 250px;
	font-weight: bold;
}
#pageSelect button{
	padding: 3px 5px;
}