body{
    background-image: url("/img/welcomeBg.jpg");
    padding: 43vh 20vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p{
    font-size: 55px;
    display: inline-block;
    width: 60vw;
    text-align: center;
    height: 14vh;
    line-height: 14vh;
}