<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>登录</title>
		<link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}">
		<link rel="stylesheet" th:href="@{/css/login.css}">
	</head>
	<body class="layui-layout-body">

		<div id="loginwin">
			<form class="layui-form">
				<div class="layui-form-item" id="imgPage">
					<h1>登录界面</h1>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">邮箱：</label>
					<div class="layui-input-block">
						<input id="email" type="email" name="email" lay-verify="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">密码：</label>
					<div class="layui-input-block">
						<input id="password" type="password" name="password" lay-verify="password" autocomplete="off" placeholder="请输入密码" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">身份：</label>
						<div class="layui-input-inline">
							<select id="identity" name="identity" lay-verify="identity">
								<option value="">请选择一个登录身份</option>
								<option value="001">申请者</option>
								<option value="002">提供者</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-form-item btn-style">
					<label class="layui-form-label"></label>
					<div>
						<label id="btn-md1"><a href="javascript:void(0);" onclick="submitLoginInfoFun()"  class="btn-md2-a">登录</a></label>
						<label id="btn-md2"><a href="/register"  class="btn-md2-a">注册</a></label>
					</div>
				</div>
			</form>
		</div>

		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<script th:src="@{/plugin/layui/layui.js}"></script>
		<script th:src="@{/js/login.js}"></script>
	</body>
</html>
